PORT=4000
MONGO_URI="mongodb+srv://kwikleadz_db_user:aincQcCxykWYpbkL@cluster0.7wmqcsz.mongodb.net/karanix_demo?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET=change-me
JWT_EXPIRY=2h
CLIENT_ORIGIN=http://localhost:3000
